node_modules
.idea
.temp
.sass-cache
app
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store

app/scripts/configuration.js
/misc
/resources/ios/icons
/resources/android/drawable-hdpi
/resources/android/drawable-land-hdpi/screen.png
/resources/android/drawable-land-ldpi/screen.png
/resources/android/drawable-land-mdpi/screen.png
/resources/android/drawable-land-xhdpi/screen.png
/resources/android/drawable-land-xxhdpi/screen.png
/resources/android/drawable-land-xxxhdpi/screen.png
/resources/android/drawable-ldpi/icon.png
/resources/android/drawable-mdpi/ic_action_next_item.png
/resources/android/drawable-mdpi/ic_action_previous_item.png
/resources/android/drawable-mdpi/ic_action_remove.png
/resources/android/drawable-mdpi/icon.png
/resources/android/drawable-port-hdpi/screen.png
/resources/android/drawable-port-ldpi/screen.png
/resources/android/drawable-port-mdpi/screen.png
/resources/android/drawable-port-xhdpi/screen.png
/resources/android/drawable-port-xxhdpi/screen.png
/resources/android/drawable-port-xxxhdpi/screen.png
/resources/android/drawable-xhdpi/ic_action_next_item.png
/resources/android/drawable-xhdpi/ic_action_previous_item.png
/resources/android/drawable-xhdpi/ic_action_remove.png
/resources/android/drawable-xhdpi/icon.png
/resources/android/drawable-xxhdpi/ic_action_next_item.png
/resources/android/drawable-xxhdpi/ic_action_previous_item.png
/resources/android/drawable-xxhdpi/ic_action_remove.png
/resources/android/drawable-xxhdpi/icon.png
/resources/android/drawable-xxxhdpi/icon.png
/install.bat
/android-release-key.keystore
/install.sh
/resources/icon.psd
/resources/splash.psd
/test/.jshintrc
