@font-face {
	font-family: 'icomoon-directory';
	src:url('./mount-maunganui-icons/icomoon.eot?pq814k');
	src:url('./mount-maunganui-icons/icomoon.eot?pq814k#iefix') format('embedded-opentype'),
		url('./mount-maunganui-icons/icomoon.ttf?pq814k') format('truetype'),
		url('./mount-maunganui-icons/icomoon.woff?pq814k') format('woff'),
		url('./mount-maunganui-icons/icomoon.svg?pq814k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mm-icon"], [class*=" mm-icon"] {
	font-family: 'icomoon-directory';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mm-icon-Biz_Directory_Logo:before {
	content: "\e911";
}
.mm-icon-logo:before {
	content: "\e910";
}
.mm-icon-Accommodation_Symbol:before {
	content: "\e900";
}
.mm-icon-Activities_Entertainment_Logo:before {
	content: "\e901";
}
.mm-icon-Animal_Services_Logo:before {
	content: "\e902";
}
.mm-icon-Automotive_logo:before {
	content: "\e903";
}
.mm-icon-Business_Services_Logo:before {
	content: "\e904";
}
.mm-icon-Childcare_Education_logo:before {
	content: "\e905";
}
.mm-icon-Creative_Services:before {
	content: "\e906";
}
.mm-icon-Food_and_Drink_Logo:before {
	content: "\e907";
}
.mm-icon-Hair_Beauty_Logo:before {
	content: "\e908";
}
.mm-icon-Health_Wellbeing_Logo:before {
	content: "\e909";
}
.mm-icon-Home_Property_Logo:before {
	content: "\e90a";
}
.mm-icon-Retail_Logo:before {
	content: "\e90b";
}
.mm-icon-Sports_Fitness_Logo:before {
	content: "\e90c";
}
.mm-icon-Trades_Logo:before {
	content: "\e90d";
}
.mm-icon-Training_Development_Logo:before {
	content: "\e90e";
}
.mm-icon-Useful_Numbers_Logo:before {
	content: "\e90f";
}

